<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>InBody : Home</title>
		<th:block th:insert="~{/_fragments/geral.html :: head}"></th:block>
	</head>
	<body>
		<nav th:replace="~{/_fragments/geral.html :: nav}"></nav>
		<div class="container-fluid">
			<div id="mensagens" class="mt-3"></div>
			<div id="conteudo">
				<div th:object="${data.pessoa}">
					<div class="row mb-3">
						<div th:replace="~{/_fragments/form.html :: inputText (field='nome', label='Nome', contexto='mostrar')}"></div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<div th:replace="~{/_fragments/form.html :: inputDate (field='nascimento', label='Nascimento', contexto='mostrar')}"></div>
						</div>
						<div class="col">
							<div th:replace="~{/_fragments/form.html :: inputNumber (field='altura', label='Altura (cm)', contexto='mostrar')}"></div>
						</div>
						<div class="col">
							<div th:replace="~{/_fragments/form.html :: select (field='sexo', label='Sexo', options= ${data.sexos}, contexto='mostrar')}"></div>
						</div>
					</div>
					<h1>
						<span>Medições</span>
						<div id="toolbar" class="btn-toolbar float-end d-print-none">
						<div class="btn-group">
							<a th:href="'/medicao/incluir?idPessoa=' + ${data.pessoa.id}" id="btnIncluir" type="button" class="btn bg-success-subtle" title="Incluir">➕</a>
						</div>
					</h1>
				</div>
			</div>
		</div>
		<footer th:replace="~{/_fragments/geral.html :: footer}"></footer>
	</body>
</html>
