.effectiveness_null {
	background-color: #ed1c24 !important;
}

.effectiveness_e {
	background-color: #eeeeee !important;
}

.effectiveness_se {
	background-color: #f58220 !important;
}

.effectiveness_nve {
	background-color: #0066b3 !important;
}
