<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>InBody : Home</title>
		<th:block th:insert="~{/_fragments/geral.html :: head}"></th:block>
	</head>
	<body>
		<nav th:replace="~{/_fragments/geral.html :: nav}"></nav>
		<div class="container-fluid">
			<div id="mensagens" class="mt-3"></div>
			<div id="conteudo">
				<h1>
					<span>Pessoas</span>
					<div id="toolbar" class="btn-toolbar float-end d-print-none">
					<div class="btn-group">
						<a href="/pessoa/incluir" id="btnIncluir" type="button" class="btn bg-success-subtle" title="Incluir">➕</a>
					</div>
				</h1>
				<th:block th:if="${#lists.isEmpty(data.pessoas)}">
					<p>Não há pessoas cadastradas.</p>
				</th:block>
				<th:block th:if="${!#lists.isEmpty(data.pessoas)}">
					<div id="select" class="mb-3">
						<table id="pessoas" class="table table-bordered table-hover" style="table-layout: fixed;">
							<thead>
								<tr id="selectTitle">
									<th>Nome</th>
								</tr>
							</thead>
							<tbody class="table-group-divider">
								<tr th:each="pessoa : ${data.pessoas}">
									<th th:text="${pessoa.nome}"></th>
								</tr>
							</tbody>
						</table>
					</div>
				</th:block>
			</div>
		</div>
		<footer th:replace="~{/_fragments/geral.html :: footer}"></footer>
	</body>
</html>
