<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>InBody : Home</title>
		<th:block th:insert="~{/_fragments/geral.html :: head}"></th:block>
	</head>
	<body>
		<nav th:replace="~{/_fragments/geral.html :: nav}"></nav>
		<div class="container-fluid">
			<div id="mensagens" class="mt-3"></div>
			<div id="conteudo">
				<h1>
					<span>Pessoas</span>
					<div id="toolbar" class="btn-toolbar float-end d-print-none">
					<div class="btn-group">
						<a href="/pessoa/incluir" id="btnIncluir" type="button" class="btn bg-success-subtle" title="Incluir">➕</a>
					</div>
				</h1>
				<p th:if="${#lists.isEmpty(data.pessoas)}">Não há pessoas cadastradas.</p>
				<div th:if="${!#lists.isEmpty(data.pessoas)}" class="mb-3">
					<table id="pessoas" class="table table-sm table-hover">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Nascimento</th>
								<th>Altura</th>
								<th>Sexo</th>
								<th>Medições</th>
								<th class="botoes d-print-none"></th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							<tr th:each="pessoa : ${data.pessoas}">
								<td>
									<a th:href="'/pessoa/mostrar?id=' + ${pessoa.id}" th:text="${pessoa.nome}"></a>
								</td>
								<td th:text="${#temporals.format(pessoa.nascimento, 'dd/MM/yyyy')}" class="text-end"></td>
								<td th:text="${pessoa.altura}" class="text-end"></td>
								<td th:text="${pessoa.sexo}"></td>
								<td th:text="${pessoa.medicoes.size()}" class="text-end"></td>
								<td class="botoes d-print-none">
									<div class="btn-group" role="group">
										<a th:href="'/pessoa/alterar?id=' + ${pessoa.id}" id="btnAlterar" type="button" class="btn bg-warning-subtle" title="Alterar">✏</a>
										<a th:href="'/pessoa/excluir?id=' + ${pessoa.id}" id="btnExcluir" type="button" class="btn bg-danger-subtle" title="Excluir">🗑</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<footer th:replace="~{/_fragments/geral.html :: footer}"></footer>
	</body>
</html>
