<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>InBody : Home</title>
		<th:block th:insert="~{_fragments/geral.html :: head}"></th:block>
	</head>
	<body>
		<nav th:replace="~{_fragments/geral.html :: nav}"></nav>
		<div class="container-fluid">
			<div id="mensagens" class="mt-3"></div>
			<div id="conteudo">
				<h1 class="mb-3">InBody</h1>
				<div class="card-group mb-3">
					<!-- <div class="card">
						<div class="card-header">
							<h3 class="card-title"><a href="/url">Titulo</a></h3>
						</div>
						<div class="card-body">
							Descrição
						</div>
					</div> -->
				</div>
			</div>
		</div>
		<footer th:replace="~{_fragments/geral.html :: footer}"></footer>
	</body>
</html>
