<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>InBody : Home</title>
		<th:block th:insert="~{_fragments/geral.html :: head}"></th:block>
		<script th:inline="javascript">
const skipped = (ctx, value) => ctx.p0.skip || ctx.p1.skip ? value : undefined;
const down = (ctx, value) => ctx.p0.parsed.y > ctx.p1.parsed.y ? value : undefined;
const up = (ctx, value) => ctx.p0.parsed.y < ctx.p1.parsed.y ? value : undefined;

function formatSegment(options, chart) {
	const MEASURED_COLOR = 'rgb(33, 64, 154)'; // #21409a - igual a InBodyController.DATASET_COLOR_MEASURED
	const SKIPPED_COLOR = 'rgb(0, 0, 0, 0.2)';
	const GOOD_COLOR = 'rgb(0, 166, 93)'; // #00a65d
	const BAD_COLOR = 'rgb(237, 28, 36)'; // #ed1c24
	for (let dataset of chart.data.datasets) {
		dataset.segment = {
			borderColor: ctx => skipped(ctx, SKIPPED_COLOR), // Código repetido; se mudar algo aqui, mudar abaixo também
			borderDash: ctx => skipped(ctx, [6, 6])
		};
		dataset.spanGaps = true;

		if (options.includes('upGood')) {
			if (dataset.borderColor == MEASURED_COLOR) { // Faixa de dados cadastrados
				dataset.segment.borderColor = ctx => skipped(ctx, SKIPPED_COLOR) || down(ctx, BAD_COLOR) || up(ctx, GOOD_COLOR);
			} else { // Outras faixas (mínimo, máximo, ideal, ...)
				// Não mexe
			}
		}
		if (options.includes('upBad')) {
			if (dataset.borderColor == MEASURED_COLOR) { // Faixa de dados cadastrados
				dataset.segment.borderColor = ctx => skipped(ctx, SKIPPED_COLOR) || down(ctx, GOOD_COLOR) || up(ctx, BAD_COLOR);
			} else { // Outras faixas (mínimo, máximo, ideal, ...)
				// Não mexe
			}
		}
	}
	return chart;
}

/*<![CDATA[*/
document.addEventListener("DOMContentLoaded", function() {
	// Análise da Composição Corporal
	new Chart(document.getElementById('graficoAguaCorporalTotal'), formatSegment(['upGood'], /*[[${data.graficoAguaCorporalTotal}]]*/ ''));
	new Chart(document.getElementById('graficoProteina'), formatSegment(['upGood'], /*[[${data.graficoProteina}]]*/ ''));
	new Chart(document.getElementById('graficoMinerais'), formatSegment(['upGood'], /*[[${data.graficoMinerais}]]*/ ''));

	// Análise Músculo-Gordura
	new Chart(document.getElementById('graficoPeso'), formatSegment(['upBad'], /*[[${data.graficoPeso}]]*/ ''));
	new Chart(document.getElementById('graficoMassaMuscularEsqueletica'), formatSegment(['upGood'], /*[[${data.graficoMassaMuscularEsqueletica}]]*/ ''));
	new Chart(document.getElementById('graficoMassaDeGordura'), formatSegment(['upBad'], /*[[${data.graficoMassaDeGordura}]]*/ ''));

	// Análise de Obesidade
	new Chart(document.getElementById('graficoImc'), formatSegment(['upBad'], /*[[${data.graficoImc}]]*/ ''));
	new Chart(document.getElementById('graficoPgc'), formatSegment(['upBad'], /*[[${data.graficoPgc}]]*/ ''));

	// Análise da Massa Magra Segmentar
	new Chart(document.getElementById('graficoAnaliseDaMassaMagraSegmentarBracoEsquerdoMassa'), formatSegment(['upGood'], /*[[${data.graficoAnaliseDaMassaMagraSegmentarBracoEsquerdoMassa}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaMassaMagraSegmentarBracoEsquerdoPercentagem'), formatSegment(['upGood'], /*[[${data.graficoAnaliseDaMassaMagraSegmentarBracoEsquerdoPercentagem}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaMassaMagraSegmentarBracoDireitoMassa'), formatSegment(['upGood'], /*[[${data.graficoAnaliseDaMassaMagraSegmentarBracoDireitoMassa}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaMassaMagraSegmentarBracoDireitoPercentagem'), formatSegment(['upGood'], /*[[${data.graficoAnaliseDaMassaMagraSegmentarBracoDireitoPercentagem}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaMassaMagraSegmentarTroncoMassa'), formatSegment(['upGood'], /*[[${data.graficoAnaliseDaMassaMagraSegmentarTroncoMassa}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaMassaMagraSegmentarTroncoPercentagem'), formatSegment(['upGood'], /*[[${data.graficoAnaliseDaMassaMagraSegmentarTroncoPercentagem}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaMassaMagraSegmentarPernaEsquerdaMassa'), formatSegment(['upGood'], /*[[${data.graficoAnaliseDaMassaMagraSegmentarPernaEsquerdaMassa}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaMassaMagraSegmentarPernaEsquerdaPercentagem'), formatSegment(['upGood'], /*[[${data.graficoAnaliseDaMassaMagraSegmentarPernaEsquerdaPercentagem}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaMassaMagraSegmentarPernaDireitaMassa'), formatSegment(['upGood'], /*[[${data.graficoAnaliseDaMassaMagraSegmentarPernaDireitaMassa}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaMassaMagraSegmentarPernaDireitaPercentagem'), formatSegment(['upGood'], /*[[${data.graficoAnaliseDaMassaMagraSegmentarPernaDireitaPercentagem}]]*/ ''));

	// Análise da Gordura Segmentar
	new Chart(document.getElementById('graficoAnaliseDaGorduraSegmentarBracoEsquerdoMassa'), formatSegment(['upBad'], /*[[${data.graficoAnaliseDaGorduraSegmentarBracoEsquerdoMassa}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaGorduraSegmentarBracoEsquerdoPercentagem'), formatSegment(['upBad'], /*[[${data.graficoAnaliseDaGorduraSegmentarBracoEsquerdoPercentagem}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaGorduraSegmentarBracoDireitoMassa'), formatSegment(['upBad'], /*[[${data.graficoAnaliseDaGorduraSegmentarBracoDireitoMassa}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaGorduraSegmentarBracoDireitoPercentagem'), formatSegment(['upBad'], /*[[${data.graficoAnaliseDaGorduraSegmentarBracoDireitoPercentagem}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaGorduraSegmentarTroncoMassa'), formatSegment(['upBad'], /*[[${data.graficoAnaliseDaGorduraSegmentarTroncoMassa}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaGorduraSegmentarTroncoPercentagem'), formatSegment(['upBad'], /*[[${data.graficoAnaliseDaGorduraSegmentarTroncoPercentagem}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaGorduraSegmentarPernaEsquerdaMassa'), formatSegment(['upBad'], /*[[${data.graficoAnaliseDaGorduraSegmentarPernaEsquerdaMassa}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaGorduraSegmentarPernaEsquerdaPercentagem'), formatSegment(['upBad'], /*[[${data.graficoAnaliseDaGorduraSegmentarPernaEsquerdaPercentagem}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaGorduraSegmentarPernaDireitaMassa'), formatSegment(['upBad'], /*[[${data.graficoAnaliseDaGorduraSegmentarPernaDireitaMassa}]]*/ ''));
	new Chart(document.getElementById('graficoAnaliseDaGorduraSegmentarPernaDireitaPercentagem'), formatSegment(['upBad'], /*[[${data.graficoAnaliseDaGorduraSegmentarPernaDireitaPercentagem}]]*/ ''));

	// Outras informações
	new Chart(document.getElementById('graficoPontuacaoInBody'), formatSegment(['upGood'], /*[[${data.graficoPontuacaoInBody}]]*/ ''));
	new Chart(document.getElementById('graficoRelacaoCinturaQuadril'), formatSegment(['upBad'], /*[[${data.graficoRelacaoCinturaQuadril}]]*/ ''));
	new Chart(document.getElementById('graficoNivelGorduraVisceral'), formatSegment(['upBad'], /*[[${data.graficoNivelGorduraVisceral}]]*/ ''));

	// Dados adicionais
	new Chart(document.getElementById('graficoMassaLivreDeGordura'), formatSegment(['upGood'], /*[[${data.graficoMassaLivreDeGordura}]]*/ ''));
	new Chart(document.getElementById('graficoTaxaMetabolicaBasal'), formatSegment(['upGood'], /*[[${data.graficoTaxaMetabolicaBasal}]]*/ ''));
	new Chart(document.getElementById('graficoGrauDeObesidade'), formatSegment(['upBad'], /*[[${data.graficoGrauDeObesidade}]]*/ ''));
	new Chart(document.getElementById('graficoSmi'), formatSegment(['upGood'], /*[[${data.graficoSmi}]]*/ ''));
	new Chart(document.getElementById('graficoIngestaoCaloricaRecomendada'), /*[[${data.graficoIngestaoCaloricaRecomendada}]]*/ '');
});
/*]]>*/
		</script>
	</head>
	<body th:with="verbo=${#strings.capitalize(contexto)}">
		<nav th:replace="~{_fragments/geral.html :: nav}"></nav>
		<div class="container-fluid">
			<div id="mensagens" class="mt-3"></div>
			<div id="conteudo">
				<div id="form">
					<h1 th:text="${verbo + ' Pessoa'}"></h1>
					<form th:object="${data.pessoa}" th:action="${'/pessoa/' + contexto + '_ok'}" method="POST">
						<input th:if="${!('incluir'.equals(contexto))}" th:field="*{id}" id="id" name="id" type="hidden">
						<div class="row mb-3">
							<div th:replace="~{_fragments/form.html :: inputText (field='nome', label='Nome')}"></div>
						</div>
						<div class="row mb-3">
							<div class="col">
								<div th:replace="~{_fragments/form.html :: inputDate (field='nascimento', label='Nascimento')}"></div>
							</div>
							<div class="col">
								<div th:replace="~{_fragments/form.html :: inputNumber (field='altura', label='Altura (cm)')}"></div>
							</div>
							<div class="col">
								<div th:replace="~{_fragments/form.html :: select (field='sexo', label='Sexo', options= ${data.sexos})}"></div>
							</div>
						</div>
						<div th:if="${'excluir'.equals(contexto)}" class="alert alert-warning">
							<b>ATENÇÃO!</b> Todas as informações serão perdidas, incluindo <b>TODAS</b> as medições! <b>ESSA OPERAÇÃO NÃO PODE SER DESFEITA!</b>
						</div>
						<div th:if="${!('mostrar'.equals(contexto))}" class="btn-group mb-3">
							<button th:text="${'✅ ' + verbo}" th:title="${verbo}" type="submit" class="btn btn-sm bg-success-subtle"></button>
							<a th:href="@{'/pessoa'}" type="button" class="btn bg-danger-subtle" title="Cancelar">❌ Cancelar</a>
						</div>
					</form>
				</div>
				<div th:if="${'mostrar'.equals(contexto)}" id="medicoes">
					<h1>
						<span>Medições</span>
						<div id="toolbar" class="btn-toolbar float-end d-print-none">
						<div class="btn-group">
							<a th:href="'/medicao/incluir?idPessoa=' + ${data.pessoa.id}" id="btnIncluir" type="button" class="btn bg-success-subtle" title="Incluir">➕</a>
						</div>
					</h1>
					<p th:if="${#lists.isEmpty(data.pessoa.medicoes)}">Não há medições cadastradas.</p>
					<div th:if="${!#lists.isEmpty(data.pessoa.medicoes)}" class="mb-3">
						<table id="medicoes" class="table table-sm table-hover">
							<thead>
								<tr>
									<th>Data/hora</th>
									<th>Local</th>
									<th>Peso</th>
									<th>Massa de Gordura</th>
									<th>MME</th>
									<th>PGC</th>
									<th>Pontuação</th>
									<th class="botoes d-print-none"></th>
								</tr>
							</thead>
							<tbody class="table-group-divider">
								<tr th:each="medicao : ${data.pessoa.medicoes}">
									<td th:text="${#temporals.format(medicao.dataHora, 'dd/MM/yyyy HH:mm')}" class="text-end"></td>
									<td th:text="${medicao.local}"></td>
									<td th:text="${medicao.peso.valor}" class="text-end"></td>
									<td th:text="${medicao.massaDeGordura.valor}" class="text-end"></td>
									<td th:text="${medicao.massaMuscularEsqueletica.valor}" class="text-end"></td>
									<td th:text="${medicao.pgc}" class="text-end"></td>
									<td th:text="${medicao.pontuacaoInBody}" class="text-end"></td>
									<td class="botoes d-print-none">
										<div class="btn-group" role="group">
											<a th:href="'/medicao/alterar?idPessoa=' + ${data.pessoa.id} + '&idMedicao=' + ${medicao.id}" id="btnAlterar" type="button" class="btn bg-warning-subtle" title="Alterar">✏</a>
											<a th:href="'/medicao/excluir?idPessoa=' + ${data.pessoa.id} + '&idMedicao=' + ${medicao.id}" id="btnExcluir" type="button" class="btn bg-danger-subtle" title="Excluir">🗑</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:if="${'mostrar'.equals(contexto)}" id="graficos">
					<h1>Análise da Composição Corporal</h1>
					<div class="row">
						<div class="col">
							<canvas id="graficoAguaCorporalTotal"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoProteina"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoMinerais"></canvas>
						</div>
					</div>
					<h1>Análise Músculo-Gordura</h1>
					<div class="row">
						<div class="col">
							<canvas id="graficoPeso"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoMassaMuscularEsqueletica"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoMassaDeGordura"></canvas>
						</div>
					</div>
					<h1>Análise de Obesidade</h1>
					<div class="row">
						<div class="col col-4">
							<canvas id="graficoImc"></canvas>
						</div>
						<div class="col col-4">
							<canvas id="graficoPgc"></canvas>
						</div>
					</div>
					<h1>Análise da Massa Magra Segmentar</h1>
					<div class="row">
						<div class="col">
							<canvas id="graficoAnaliseDaMassaMagraSegmentarBracoEsquerdoMassa"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaMassaMagraSegmentarBracoDireitoMassa"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaMassaMagraSegmentarTroncoMassa"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaMassaMagraSegmentarPernaEsquerdaMassa"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaMassaMagraSegmentarPernaDireitaMassa"></canvas>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<canvas id="graficoAnaliseDaMassaMagraSegmentarBracoEsquerdoPercentagem"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaMassaMagraSegmentarBracoDireitoPercentagem"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaMassaMagraSegmentarTroncoPercentagem"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaMassaMagraSegmentarPernaEsquerdaPercentagem"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaMassaMagraSegmentarPernaDireitaPercentagem"></canvas>
						</div>
					</div>
					<h1>Análise da Gordura Segmentar</h1>
					<div class="row">
						<div class="col">
							<canvas id="graficoAnaliseDaGorduraSegmentarBracoEsquerdoMassa"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaGorduraSegmentarBracoDireitoMassa"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaGorduraSegmentarTroncoMassa"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaGorduraSegmentarPernaEsquerdaMassa"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaGorduraSegmentarPernaDireitaMassa"></canvas>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<canvas id="graficoAnaliseDaGorduraSegmentarBracoEsquerdoPercentagem"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaGorduraSegmentarBracoDireitoPercentagem"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaGorduraSegmentarTroncoPercentagem"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaGorduraSegmentarPernaEsquerdaPercentagem"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoAnaliseDaGorduraSegmentarPernaDireitaPercentagem"></canvas>
						</div>
					</div>
					<h1>Outras informações</h1>
					<div class="row">
						<div class="col">
							<canvas id="graficoPontuacaoInBody"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoRelacaoCinturaQuadril"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoNivelGorduraVisceral"></canvas>
						</div>
					</div>
					<h1>Dados adicionais</h1>
					<div class="row">
						<div class="col">
							<canvas id="graficoMassaLivreDeGordura"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoTaxaMetabolicaBasal"></canvas>
						</div>
						<div class="col">
							<canvas id="graficoGrauDeObesidade"></canvas>
						</div>
					</div>
					<div class="row">
						<div class="col col-4">
							<canvas id="graficoSmi"></canvas>
						</div>
						<div class="col col-4">
							<canvas id="graficoIngestaoCaloricaRecomendada"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="~{_fragments/geral.html :: footer}"></footer>
	</body>
</html>
